<!-- views/partials/footer.ejs -->
<!-- views/partials/footer.ejs -->
<footer>
    <p>&copy; <%= new Date().getFullYear() %> The Coded Bookshelf  | Created by Angela M.E.</p>
    <p><a href="/">Home</a> | <a href="/books">Browse Books</a> | <a href="/books/new">Add a New Book</a></p>
  </footer>