<!-- views/partials/navbar.ejs -->
<nav class="navbar">
    <div class="nav-container">
        <!-- <a href="/" class="logo">The Bookshelf</a> -->
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/books">Browse Books</a></li>
            <li><a href="/books/new">Add a Book</a></li>
        </ul>
    </div>
</nav>